# scripts and temp files
tmp/
.venv/

# build files
build/
*.nro
*.nsp
*.npdm
*.elf
*.nacp
*.log
*.lst
*.map
dist/

# agents files
AGENTS.md

# source fonts, thin with scripts
*.ttf

# ide
.idea/
.vscode/
